version: '3.7'

x-shared_environment: &shared_environment
  LOG_LEVEL: ${LOG_LEVEL:-debug}
  CLIENT_ID: ${CLIENT_ID}
  CLIENT_SECRET: ${CLIENT_SECRET}
  REDIRECT_URL: ${REDIRECT_URL}
  REFRESH_TOKEN_PATH: ${REFRESH_TOKEN_PATH:-/data/refresh_token}

services:
  app:
    build:
      context: .
    environment:
      <<: *shared_environment
    volumes:
      - rmc_data:/data
    ports:
      - '80:8080'
    restart: always
    # command:
    #   [
    #     "serve",
    #     "--env",
    #     "production",
    #     "--hostname",
    #     "0.0.0.0",
    #     "--port",
    #     "8080"
    #   ]

volumes:
  rmc_data:
